<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VKTestExercise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4207D6321FE9B02D00886D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4207D64A1FE9B02D00886D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4207D6551FE9B02D00886D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
